name: Deploy to GitHub Pages

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        
      # 重命名所有包含特殊字符的文件
      - name: Fix filenames
        run: |
          find . -name "*@*" -exec rename 's/@/_/g' {} \;
          find . -name "* *" -exec rename 's/ /_/g' {} \;
          git config --global user.email "actions@github.com"
          git config --global user.name "GitHub Actions"
          git add .
          git commit -m "Automatically fix filenames" || echo "No changes to commit"
        
      # 创建 .nojekyll 文件
      - name: Create .nojekyll
        run: touch .nojekyll
        
      - name: Setup Pages
        uses: actions/configure-pages@v4
        
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: '.'
          
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
